<template>
    <div v-if="tags.length" class='widget clearfix widget-tags'>
        <h4 class='widget-title nsp-font-family--SVN-Poppins-semibold'>Thẻ</h4>
        <div class='tags'>
            <a v-for="(tag, index) in tags" :href='tag.prodtag_uri'>{{tag.prodtag_name}}</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "ProductTag",
    props:{
        tags:{
            default: [],
            type: Object
        }
    }
}
</script>

<style scoped>

</style>
