<template>
    <div class="tabs tabs-clean nsp-product-detail">
        <ul class="nav nav-tabs nsp-nav-tabs" id="myTab3" role="tablist">
            <li v-for="(property, index) in properties" class='nav-item'>
                <a style='font-weight: 500;' :class="{'nav-link': true, active: index === 0, show: index === 0}"
                   :id="'home-tab-' + property.prodppt_id" data-toggle='tab' :href="'#home' + property.prodppt_id"
                   role='tab' :aria-controls="'home-' + property.prodppt_id"
                   :aria-selected="index === 0 ? true : false">
                    <i :class="property.prodppt_icon"></i>{{ property.prodppt_name }}
                </a>
            </li>
            <li v-if="childrens.length" class="nav-item">
                <a style="font-weight: 500;" class="nav-link" id="home-tab-children" data-toggle="tab"
                   href="#homechildren" role="tab" aria-controls="home-children" aria-selected="false">
                    <i class="fa fa-info"></i>Thông tin Đặt hàng
                </a>
            </li>
            <li v-if=" Object.keys(datasheetsByGroup).length" class="nav-item">
                <a style="font-weight: 500;" class="nav-link" id="home-tab-datasheet" data-toggle="tab" href="#homedatasheet" role="tab" aria-controls="home-datasheet" aria-selected="true">
                    <i class="fa fa-download"></i>Tài liệu &amp; Tải xuống
                </a>
            </li>
        </ul>
        <div class="tab-content nsp-tab-content" id="myTabContent3">
            <div v-for="(property, index) in properties"
                 :class="{'tab-pane': true, 'active show fade': index === 0, 'fade': index !== 0}"
                 :id="'home' + property.prodppt_id" role='tabpanel'
                 :aria-labelledby="'home'+ property.prodppt_id+'-tab'" v-html="property.prodppt_description">
            </div>
            <div v-if="childrens.length" class="tab-pane fade" id="homechildren" role="tabpanel" aria-labelledby="homechildren-tab">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Mã Sản phẩm</th>
                            <th scope="col">Mô tả</th>
    <!--                        <th scope="col"></th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(children, index) in childrens">
                            <th scope="row">{{children.prodchild_part_number}}</th>
                            <td scope="row">{{children.prodchild_name}}</td>
    <!--                        <td scope="row">
                                <label class="p-radio">
                                    <input type="radio" name="product-children[]" class="js-product-children" value="438">
                                    <span class="p-radio-style nsp-p-radio-style"></span>
                                </label>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-if="Object.keys(datasheetsByGroup).length" class="tab-pane fade" id="homedatasheet" role="tabpanel" aria-labelledby="homedatasheet-tab">
                <template v-for="(sheets, index) in datasheetsByGroup">
                    <h4>{{index}}</h4>
                    <ul class="list-group m-b-30">
                        <li v-for="(sheet) in sheets" class="list-group-item d-flex justify-content-between align-items-center ">
                            {{sheet.prodsheet_name}}
                            <span>
                                <a class="ml-2" :href="sheet.prodsheet_link ? sheet.prodsheet_link : sheet.prodsheet_download_url" target="_blank" data-toggle="tooltip" data-original-title="Tải xuống">
                                    <i class="icon-download2"></i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ProductDetailTab",
    data(){
        return{
            datasheetsByGroup: {}
        }
    },
    props: {
        properties: {
            type: Object,
            default: []
        },
        datasheets: {
            type: Object,
            default: []
        },
        childrens: {
            type: Object,
            default: []
        },
    },
    methods:{
        sortDatasheetByGroup(){
            const datasheetsByGroup = {};
            this.datasheets.forEach((datasheet, index) => {
                const groupName = datasheet.prodsheetgrp_name;
                if (!datasheetsByGroup.hasOwnProperty(groupName)) {
                    datasheetsByGroup[groupName] = [];
                }
                datasheetsByGroup[groupName].push(datasheet);
            });

            this.datasheetsByGroup = datasheetsByGroup;
        }
    },
    created() {
        this.sortDatasheetByGroup();

    }
}
</script>

<style scoped>

</style>
