<template>
    <div class="" v-if="products.length">
        <div class="heading-text heading-line text-center">
            <h4>Sản phẩm liên quan</h4>
        </div>
        <div class="row">
            <div v-for="(product, index) in products" class="col-lg-6">
                <div class="widget-shop">
                    <div class="product nsp-box__product-item ">
                        <div class="product-image">
                            <a :href="product.prod_url">
                                <img :src="product.prod_thumbnail" :alt="product.prod_name">
                            </a>
                        </div>
                        <div class="product-description">
                            <div class="product-category">{{product.prodbrd_name}}</div>
                            <div class="product-title">
                                <h3>
                                    <a style="font-weight: 500"
                                       class="nsp-color--hover nsp-font-family--SVN-Poppins-medium"
                                       :href="product.prod_url">
                                        {{product.prod_name}}
                                    </a>
                                </h3>
                            </div>
                            <div class="product-rate nsp-product-part-number">
                                <ins>{{product.prod_part_number}}</ins>
                                <del>{{product.prod_part_number_old}}</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ProductRelated",
    props: {
        products: {
            type: Object,
            default: []
        }
    }
}
</script>

<style scoped>

</style>
