<template>
    <div class="widget clearfix widget-shop" style="display: block;">
        <h4 class="widget-title nsp-font-family--SVN-Poppins-semibold">Sản phẩm Vừa Xem</h4>
        <template v-if="Object.keys(products).length" v-for="(product, index) in products">
            <div v-if="product.prod_id != prodId" class="product nsp-box__product-item">
                <div class="product-description">
                    <div class="product-category">{{product.prodbrd_name}}</div>
                    <div class="product-title">
                        <h3>
                            <a :href="product.prod_url" class="nsp-color--hover nsp-font-family--SVN-Poppins-medium" style="font-weight: 500">{{product.prod_name}}</a>
                        </h3>
                    </div>
                    <div class="product-rate nsp-product-part-number">
                        <ins>{{product.prod_part_number}}</ins>
                        <del>{{product.prod_part_number_old}}</del>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
export default {
    name: "ProductRecentlyViewed",
    props:{
        prodId:{
            default: 0
        }
    },
    data(){
        return {
            products: window.localStorage.getItem('products') ? JSON.parse(window.localStorage.getItem('products')): {},
        }
    }
}
</script>

<style scoped>

</style>
