@font-face {
	font-family: "SVN-Poppins_thin";
	src: url("/public/template/polo/webfonts/svn-poppins_thin.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_thin.eot?#iefix") format("embedded-opentype"),
			url("/public/template/polo/webfonts/svn-poppins_thin.svg") format("svg"),
			url("/public/template/polo/webfonts/svn-poppins_thin.ttf") format("truetype"),
			url("/public/template/polo/webfonts/svn-poppins_thin.woff") format("woff"),
			url("/public/template/polo/webfonts/svn-poppins_thin.woff2") format("woff2")

	;
}
@font-face {
	font-family: "SVN-Poppins_thin_italic";
	src: url("/public/template/polo/webfonts/svn-poppins_thin_italic.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_thin_italic.eot?#iefix") format("embedded-opentype"),
	url("/public/template/polo/webfonts/svn-poppins_thin_italic.svg") format("svg"),
	url("/public/template/polo/webfonts/svn-poppins_thin_italic.ttf") format("truetype"),
	url("/public/template/polo/webfonts/svn-poppins_thin_italic.woff") format("woff"),
	url("/public/template/polo/webfonts/svn-poppins_thin_italic.woff2") format("woff2")

;
}
@font-face {
	font-family: "SVN-Poppins_semibold_italic";
	src: url("/public/template/polo/webfonts/svn-poppins_semibold_italic.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_semibold_italic.eot?#iefix") format("embedded-opentype"),
	url("/public/template/polo/webfonts/svn-poppins_semibold_italic.svg") format("svg"),
	url("/public/template/polo/webfonts/svn-poppins_semibold_italic.ttf") format("truetype"),
	url("/public/template/polo/webfonts/svn-poppins_semibold_italic.woff") format("woff"),
	url("/public/template/polo/webfonts/svn-poppins_semibold_italic.woff2") format("woff2")

;
}
@font-face {
	font-family: "SVN-Poppins_semibold";
	src: url("/public/template/polo/webfonts/svn-poppins_semibold.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_semibold.eot?#iefix") format("embedded-opentype"),
	url("/public/template/polo/webfonts/svn-poppins_semibold.svg") format("svg"),
	url("/public/template/polo/webfonts/svn-poppins_semibold.ttf") format("truetype"),
	url("/public/template/polo/webfonts/svn-poppins_semibold.woff") format("woff"),
	url("/public/template/polo/webfonts/svn-poppins_semibold.woff2") format("woff2")

;
}
/*SVN-Poppins = SVN-Poppins_regular*/
@font-face {
	font-family: "SVN-Poppins";
	src: url("/public/template/polo/webfonts/svn-poppins_regular.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_regular.eot?#iefix") format("embedded-opentype"),
	url("/public/template/polo/webfonts/svn-poppins_regular.svg") format("svg"),
	url("/public/template/polo/webfonts/svn-poppins_regular.ttf") format("truetype"),
	url("/public/template/polo/webfonts/svn-poppins_regular.woff") format("woff"),
	url("/public/template/polo/webfonts/svn-poppins_regular.woff2") format("woff2")

;
}

@font-face {
	font-family: "SVN-Poppins_medium_italic";
	src: url("/public/template/polo/webfonts/svn-poppins_medium_italic.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_medium_italic.eot?#iefix") format("embedded-opentype"),
	url("/public/template/polo/webfonts/svn-poppins_medium_italic.svg") format("svg"),
	url("/public/template/polo/webfonts/svn-poppins_medium_italic.ttf") format("truetype"),
	url("/public/template/polo/webfonts/svn-poppins_medium_italic.woff") format("woff"),
	url("/public/template/polo/webfonts/svn-poppins_medium_italic.woff2") format("woff2")

;
}
@font-face {
	font-family: "SVN-Poppins_medium";
	src: url("/public/template/polo/webfonts/svn-poppins_medium.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_medium.eot?#iefix") format("embedded-opentype"),
	url("/public/template/polo/webfonts/svn-poppins_medium.svg") format("svg"),
	url("/public/template/polo/webfonts/svn-poppins_medium.ttf") format("truetype"),
	url("/public/template/polo/webfonts/svn-poppins_medium.woff") format("woff"),
	url("/public/template/polo/webfonts/svn-poppins_medium.woff2") format("woff2")

;
}
@font-face {
	font-family: "SVN-Poppins_italic";
	src: url("/public/template/polo/webfonts/svn-poppins_italic.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_italic.eot?#iefix") format("embedded-opentype"),
	url("/public/template/polo/webfonts/svn-poppins_italic.svg") format("svg"),
	url("/public/template/polo/webfonts/svn-poppins_italic.ttf") format("truetype"),
	url("/public/template/polo/webfonts/svn-poppins_italic.woff") format("woff"),
	url("/public/template/polo/webfonts/svn-poppins_italic.woff2") format("woff2")

;
}
@font-face {
	font-family: "SVN-Poppins_extralight_italic";
	src: url("/public/template/polo/webfonts/svn-poppins_extralight_italic.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_extralight_italic.eot?#iefix") format("embedded-opentype"),
	url("/public/template/polo/webfonts/svn-poppins_extralight_italic.svg") format("svg"),
	url("/public/template/polo/webfonts/svn-poppins_extralight_italic.ttf") format("truetype"),
	url("/public/template/polo/webfonts/svn-poppins_extralight_italic.woff") format("woff"),
	url("/public/template/polo/webfonts/svn-poppins_extralight_italic.woff2") format("woff2")

;
}
@font-face {
	font-family: "SVN-Poppins_extralight";
	src: url("/public/template/polo/webfonts/svn-poppins_extralight.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_extralight.eot?#iefix") format("embedded-opentype"),
	url("/public/template/polo/webfonts/svn-poppins_extralight.svg") format("svg"),
	url("/public/template/polo/webfonts/svn-poppins_extralight.ttf") format("truetype"),
	url("/public/template/polo/webfonts/svn-poppins_extralight.woff") format("woff"),
	url("/public/template/polo/webfonts/svn-poppins_extralight.woff2") format("woff2")

;
}
@font-face {
	font-family: "SVN-Poppins_bold_italic";
	src: url("/public/template/polo/webfonts/svn-poppins_bold_italic.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_bold_italic.eot?#iefix") format("embedded-opentype"),
	url("/public/template/polo/webfonts/svn-poppins_bold_italic.svg") format("svg"),
	url("/public/template/polo/webfonts/svn-poppins_bold_italic.ttf") format("truetype"),
	url("/public/template/polo/webfonts/svn-poppins_bold_italic.woff") format("woff"),
	url("/public/template/polo/webfonts/svn-poppins_bold_italic.woff2") format("woff2")

;
}
@font-face {
	font-family: "SVN-Poppins_bold";
	src: url("/public/template/polo/webfonts/svn-poppins_bold.eot");
	src:    url("/public/template/polo/webfonts/svn-poppins_bold.eot?#iefix") format("embedded-opentype"),
	url("/public/template/polo/webfonts/svn-poppins_bold.svg") format("svg"),
	url("/public/template/polo/webfonts/svn-poppins_bold.ttf") format("truetype"),
	url("/public/template/polo/webfonts/svn-poppins_bold.woff") format("woff"),
	url("/public/template/polo/webfonts/svn-poppins_bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;

;
}
