/************ HEIGHT **************/
.nsp-max-height-600 {
    max-height: 600px !important;
}

/************ PART NUMBER  **************/
.nsp-part-number {
    cursor: pointer;
}

.nsp-part-number:hover {
    color: #c3393d !important;
}

/************ LOADING LAZY **************/
img.lazy {
    width: 100%;
    height: auto;
}

.heading-text.heading-section > h2:before {
    background-color: #c3393d;
}

/************ BACKGROUND, COLOR, BORDER **************/
.nsp-background-color--red {
    background-color: #c3393d !important;
}

.nsp-border-color {
    border-color: #c3393d !important;
}

a.nsp-color--hover:active, a.nsp-color--hover:link /*, a.nsp-color--hover:visited*/
{
    color: #565656;
}

a.nsp-color--hover:hover /*,a.nsp-color--hover:active, a.nsp-color--hover:link*/
{
    color: #c3393d !important;
}

.nsp-color--hover:hover {
    color: #c3393d !important;
}

.nsp-color {
    color: #c3393d !important;
}


/************* NAV LEFT PRODUCT ****************/
div.nsp-product-nav h5 a:active, div.nsp-product-nav h5 a:link, div.nsp-product-nav h5 a:visited {
    color: #565656 !important;
}

div.nsp-product-nav h5 a:hover {
    color: #c3393d !important;
}

/********************** ELEMENT **********************/
select.nsp-selectbox:active, select.nsp-selectbox:link, select.nsp-selectbox:visited {
    border-color: #c3393d !important;
}

select.nsp-selectbox:hover {
    border-color: #c3393d !important;
}

input.nsp-input:active, input.nsp-input:link, input.nsp-input:visited {
    border-color: #c3393d !important;
}

input.nsp-input:hover {
    border-color: #c3393d !important;
}

/************ FONT FAMILY **************/
.nsp-font-family--SVN-Poppins {
    font-family: "SVN-Poppins" !important;
}

.nsp-font-family--SVN-Poppins-semibold {
    font-family: "SVN-Poppins_semibold" !important;
}

.nsp-font-family--SVN-Poppins-semibold-italic {
    font-family: "SVN-Poppins_semibold_italic" !important;
}

.nsp-font-family--SVN-Poppins-thin {
    font-family: "SVN-Poppins_thin" !important;
}

.nsp-font-family--SVN-Poppins-thin-italic {
    font-family: "SVN-Poppins_thin_italic" !important;
}

.nsp-font-family--SVN-Poppins-medium {
    font-family: "SVN-Poppins_medium" !important;
}

.nsp-font-family--SVN-Poppins-medium-italic {
    font-family: "SVN-Poppins_medium_italic" !important;
}

.nsp-font-family--SVN-Poppins-italic {
    font-family: "SVN-Poppins_italic" !important;
}

.nsp-font-family--SVN-Poppins-extralight {
    font-family: "SVN-Poppins_extralight" !important;
}

.nsp-font-family--SVN-Poppins-extralight-italic {
    font-family: "SVN-Poppins_extralight_italic" !important;
}

.nsp-font-family--SVN-Poppins-bold {
    font-family: "SVN-Poppins_bold" !important;
}

.nsp-font-family--SVN-Poppins-bold-italic {
    font-family: "SVN-Poppins_bold_italic" !important;
}

/************ FONT SIZE **************/
.nsp-font-size--15px {
    font-size: 15px !important;
}

.nsp-font-weight--500 {
    font-weight: 500 !important;
}

/************ LINE HEIGHT **************/
.nsp-line-height--20px {
    line-height: 20px;
}

/************ NOTIFY **************/
.nsp-notify {
}

.nsp-notify .nsp-notify-link {
    text-decoration: underline;
}


/************ POST **************/
.nsp-post .nsp-article-summary {
    font-size: 1.2em;
    line-height: 1.618;
    font-weight: bold;
    color: #333;
    margin: 0 0 18px;
}

.nsp-post .nsp-article-content {
    text-align: justify;
}

.nsp-post .nsp-article-content img {
    /*		width: 100%;
            height: auto;*/
    max-width: 100%;
    width: auto;
}

.nsp-post .nsp-caption {
    color: #777777;
    font-size: 14px !important;
    font-style: italic;
    text-align: center;
    display: block;
}

.nsp-post .nsp-article-content i:not(.fa):not(.fab):not(.far):not(.fas) {
    font-family: "Nunito" !important;
}

.nsp-post .nsp-article-content li {
    font-size: initial !important;
    list-style: inside;
}

.nsp-post a:not(.btn) {
    color: #0070bc;
}

/* ----------------------------------------------------------------------
	Counters
-------------------------------------------------------------------------*/
.counter {
    margin-bottom: 14px;
}

.counter span {
    font-size: 50px;
    line-height: 40px;
}

.counter strong {
    font-size: 50px;
    line-height: 40px;
}

.counter.small > span {
    font-size: 32px !important;
}

.counter.medium > span {
    font-size: 50px !important;
}

.counter.large > span {
    font-size: 62px !important;
}

/********************* HEADER MENU ******************************/
ul.nsp-header-menu > li > a {
    font-family: 'SVN-Poppins_medium' !important;
}

ul.nsp-header-menu > li > ul > li > a {
    font-family: 'SVN-Poppins_medium' !important;
}

ul.nsp-header-menu .nsp-mega-menu-title {
    padding: 0px !important;
}

/********************* BUTTON ******************************/
.nsp-btn-red {
    background-color: #c3393d !important;
    border-color: #c3393d !important;
}

a.nsp-btn__loadmore:active, a.nsp-btn__loadmore:link /*, a.nsp-color--hover:visited*/
{
    background-color: #ffffff !important;
    border-color: #ebebeb !important;
}

.nsp-btn-search-close {
    background-color: #c3393d !important;
}

/********************* PRODUCT BOX ******************************/
.nsp-box__product-item {
    padding: 0px 10px 20px 10px !important;
    /*min-height: 461px;*/
    /*max-height: 413px;*/
}

.nsp-box__product-item .product-description {
    padding: 8px 10px 8px;
}

.nsp-box__product-item .product {
    border: 1px solid #eeeeee;
    min-height: 400px !important;
    border-radius: 5px;
    margin-bottom: 0px !important;
}

.nsp-box__product-item .product:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.15);
    -o-box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(32, 32, 32, 0.15);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .nsp-box__product-item {
        padding: 0px 7px 15px 7px !important;
    }

    .nsp-box__product-item .product {
        min-height: 450px !important;
    }
}

@media only screen and (max-width: 375px) {
    .nsp-box__product-item .product {
        min-height: 410px !important;
    }
}

@media only screen and (max-width: 320px) {
    .nsp-box__product-item .product {
        min-height: 385px !important;
    }
}

.nsp-box__product-item div.nsp-brand-name {
    /*font-family: "SVN-Poppins" !important;*/
}

.nsp-box__product-item .nsp-product-name {
    font-family: "SVN-Poppins_medium" !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 18px;
}

.nsp-box__product-item .nsp-product-part-number ins {
    color: #848282;
    font-size: 15px;
    text-decoration: none;
    cursor: auto;
}

.nsp-box__product-item .nsp-product-part-number del {
    color: #C2C2C2;
    cursor: auto;
}

.nsp-box__product-item .nsp-product-special-type {
    font-family: "SVN-Poppins" !important;
}

.nsp-box__product-item .nsp-product-special-value {
    font-size: 12px;
    font-family: "SVN-Poppins" !important;
    min-width: 88px !important;
    max-width: 240px !important;
    padding: 0 10px;
    width: auto;
}

.nsp-box__product-item .nsp-product-special-value--hot {
    background-color: #d6284b !important;
}

.nsp-box__product-item .nsp-product-special-value--new {
    background-color: #00C0E9 !important;
}

/********************* end: PRODUCT BOX ******************************/


/********************* PRODUCT DETAIL ******************************/
.nsp-product-detail ins.nsp-product-part-number {
    color: #848282;
    font-size: 15px;
    text-decoration: none;
    cursor: auto;
}

.nsp-product-detail del.nsp-product-part-number {
    color: #C2C2C2;
    cursor: auto;
}

.nsp-product-detail .nsp-area span {
    font-size: 1em;
    width: 66px;
}

.nsp-product-detail p {
    color: #565656 !important;
}

/********************* end: PRODUCT DETAIL ******************************/

/********************* NAV-TABS ******************************/
.nsp-nav-tabs .active {
    color: #c3393d !important;
}

.nsp-tab-content * {
    /*font-family: "SVN-Poppins" !important;*/
}

.nsp-tab-content li {
    list-style: inside;
}


/********************* CSS ONLY LOADERS ******************************/
.nsp-loading {
}

.nsp-loading-large {
    position: absolute;
    top: 50%;
    left: 50%;
}

.nsp-loading-small {
    display: block;
    text-align: center;
}

.nsp-loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}

.nsp-loading-bar:nth-child(1) {
    background-color: #C3393D;
    animation-delay: 0;
}

.nsp-loading-bar:nth-child(2) {
    background-color: #C3393D;
    animation-delay: 0.09s;
}

.nsp-loading-bar:nth-child(3) {
    background-color: #C3393D;
    animation-delay: .18s;
}

.nsp-loading-bar:nth-child(4) {
    background-color: #C3393D;
    animation-delay: .27s;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1, 2.2);
    }
    40% {
        transform: scale(1);
    }
}

/********************* TABLE ******************************/
table span.nsp-mark {
    padding: .2em;
    background-color: #fcf8e3;
}

/*
Chi tiết kỹ thuật
*/
table.nsp-specifications .nsp-title {
    font-weight: bold !important;
    font-size: 16px !important;
    background-color: #ececec !important;
}

table.nsp-specifications .nsp-title--no-bg {
    font-weight: bold !important;
    font-size: 16px !important;
}

table.nsp-specifications .nsp-border-bottom {
    border-bottom: 1px solid #dbdbdb;
}

/********************* LIST ICON (PRODUCT DETAIL) ******************************/
.nsp-product-detail .nsp-icon-list {
    width: 46px;
    height: 46px;
}

.nsp-product-detail .nsp-icon-list i {
    font-size: 36px !important;
    line-height: 47px;
}

.nsp-product-detail .nsp-content {
    margin: 0 0 20px 60px;
    line-height: 1.65em;
    font-size: 1em !important;
    font-family: "Nunito", "Helvetica", "Arial", sans-serif !important;
    color: #565656;
}

.nsp-product-detail .nsp-title {
    font-size: 1em !important;
    margin: 0 12px 4px 60px;
    font-weight: 500 !important;
    letter-spacing: 0.5px;
}

/*********************** CHECKBOX, RADIO *****************/
input[type="checkbox"]:checked + .nsp-p-checkbox-style:before {
    background: #c3393d !important;
}

.nsp-p-checkbox-style::after {
    display: block;
}

input[type="radio"]:checked + .nsp-p-radio-style:before {
    background: #c3393d !important;
    border-color: #c3393d !important;
}

.nsp-p-radio-style::after {
    display: block;
}

/*********************** REQUEST-QUOTE SEARCH *****************/
.nsp-search-box .nsp-search-result-box {
    /*border-radius: 5px;*/
    position: absolute;
    border: 1px solid #CCC;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    padding: 5px;
    display: none;
    background: #FFF;
    z-index: 9;
    width: 270px;
    max-height: 300px;
    min-height: 80px;
    overflow-y: auto;
    margin-top: -15px;
    border: 1px solid #ececec;
}

.nsp-search-box .nsp-search-result-box .nsp-product-item {
    margin-left: -5px;
    margin-right: -5px;
    padding: 10px 20px;
}

.nsp-search-box .nsp-search-result-box .nsp-product-item:hover {
    background-color: #efefef;
    cursor: pointer;
}

.nsp-search-box .nsp-search-result-box .nsp-product-item .nsp-part-number {
    color: #32323d;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.36;
    color: #32323d;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nsp-search-box .nsp-search-result-box .nsp-product-item .nsp-name {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    color: #a0a0a0;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/********************* SEARCHING **********************/
.nsp-searching .nsp-product-item .nsp-thumbnail img {
    float: left;
    margin: 12px 12px 12px 0;
    max-width: 52px;
}

.nsp-searching .nsp-product-item .nsp-thumbnail-name {
    padding: 24px;
}

#search div.js-searching-result {
    text-align: left;
    border-radius: 5px;
    border: 1px solid #CCC;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    padding: 5px;
    background: #fff;
    z-index: 9999999;
    width: 410px;
    max-height: 350px;
    min-height: 70px;
    overflow-y: auto;
    margin-top: -15px;
    border: 1px solid #ececec;
    display: none;
}

/********************* post *********************/
#posts .post-title {
    font-size: 16px;
    line-height: 23px;
    color: #444;
    font-weight: 600;
}

#posts .post-card {
    background-color: #f7f7f7;
    /*box-shadow: 4px 4px #f7f7f7;*/
    filter: drop-shadow(0 5px 10px #e6e6e6);
}

#posts .post-meta-date{
    color: #C2C2C2;
    font-size: 12px
}

#posts .post-searching-form{
    position: relative;
}

#posts .post-searching-form .fa-search{
    position: absolute;
    top:12px;
    left: 20px;
    color: #9ca3af;
}

#posts .post-searching-form span {
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

#posts .post-thumbnail{
    background-color: #fff;
}

@media only screen and (min-width: 768px){
    #posts .post-thumbnail {
        height: 232px;
    }
}


@media only screen and (max-width: 425px) {
    .nsp-searching .nsp-product-item .nsp-thumbnail img {
        max-width: 76px;
        display: block;
        margin: 10px auto 5px auto;
        float: none;
    }

    .nsp-searching .nsp-product-item .nsp-thumbnail-name {
        padding: 0px;
        text-align: center;
    }
}

