<template>

</template>

<script>
export default {
    name: "HomepageSlider",
    data() {
        return {
            sliders: [],
            slidersRepository: this.$_getRepositoryFactory('sliders'),
        }
    },
    methods: {
        async fetch() {
            try {
                const {data} = await this.slidersRepository.getAll();
                if (data.success === true) {
                    this.sliders = data.data.sliders;
                }
            } catch (error) {
                console.log(error);
            }
        }
    },
    created() {
        this.fetch();
    },
    mounted() {
    }
}
</script>

<style scoped>

</style>
