<template>

</template>

<script>
import HomepageSlider from './HomepageSlider';
export default {
    components:{
        HomepageSlider
    },
    name: "HomepageIndex"
}
</script>

<style scoped>

</style>
