<template>
    <section id="page-content" class="sidebar-left">
        <div class="container">
            <div class="row">
                <div class="content col-lg-9">
                    <div class="product">
                        <div class="row m-b-40">
                            <div class="col-lg-5">
                                <div class="product-image">
                                    <div class="carousel dots-inside dots-dark arrows-visible arrows-only arrows-dark"
                                         data-items="1" data-loop="true" data-autoplay="true"
                                         data-animate-in="fadeIn" data-animate-out="fadeOut"
                                         data-autoplay-timeout="3500" data-lightbox="gallery">
                                        <a :href="product.prod_thumbnail" data-lightbox='image' :title='product.prod_name'>
                                            <img :alt='product.prod_name' :src='product.prod_thumbnail'>
                                        </a>
                                        <template v-if="product.images_related">
                                            <a v-for="(image, index) in product.images_related" :href="image" data-lightbox='image' :title='product.prod_name'>
                                                <img :alt='product.prod_name' :src='image'>
                                            </a>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 nsp-product-detail">
                                <div class="product-description">
                                    <div class="product-category">{{product.prodbrd_name}}</div>
                                    <div class="product-title">
                                        <h3><a>{{product.prod_name}}</a></h3>
                                    </div>
                                    <div class="product-rate">
                                        <ins class="nsp-product-part-number">{{product.prod_part_number}}</ins>
                                        <del class="nsp-product-part-number">{{product.prod_part_number_old}}</del>
                                    </div>
                                    <div class="seperator m-b-10"></div>
                                    <p>{{product.prod_short_description}}</p>
                                    <div class="seperator m-t-20 m-b-10"></div>
                                </div>
                            </div>
                        </div>
                        <div class="seperator m-b-20"></div>
                        <template v-if="product.product_datasheets">
                            <product-detail-tab :properties="product.product_properties" :childrens="product.product_childrens" :datasheets="product.product_datasheets">
                            </product-detail-tab>
                        </template>
                    </div>
                    <div class="seperator m-t-20 m-b-10"></div>
                    <product-related :products="productsRelated"></product-related>
                </div>
                <div class="sidebar col-lg-3">
                    <product-tag :tags="product.product_tags"></product-tag>
                    <product-recently-viewed :prodId="prodId"></product-recently-viewed>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import ProductDetailTab from './detail/ProductDetailTab';
import ProductRelated from './detail/ProductRelated';
import ProductRecentlyViewed from './detail/ProductRecentlyViewed';
import ProductTag from './detail/ProductTag';
import {mapState} from "vuex";
export default {
    components:{
        ProductRecentlyViewed,
        ProductDetailTab,
        ProductTag,
        ProductRelated
    },
    name: "ProductDetail",
    computed: mapState(['headerMenuType']),
    data(){
        return {
            productRepository: this.$_getRepositoryFactory('products'),
            product: [],
            productsRelated: [],
            prodId: this.$route.params.id,
            productsStorage: {}
        }
    },
    methods:{
        async fetchProduct() {
            try {
                const {data} = await this.productRepository.find(this.prodId);
                if (data.success === true) {
                    this.product = data.data;
                }
            } catch (error) {
                console.log(error);
            }
        },
        async fetchProductRelated() {
            try {
                const {data} = await this.productRepository.findsRelated(this.prodId);
                if (data.success === true) {
                    this.productsRelated = data.data['products'];
                }
            } catch (error) {
                console.log(error);
            }
        },
        // Lưu trữ sản phẩm vừa xem vào local-storage
        saveViewedProducts(product) {
            const maxProductInStorage = 6; // số lượng product tối đa được phép trong localStorage
            const prodId = 'id_' + product.prod_id;
            const currentProduct = {
                'prod_id': product.prod_id,
                'prod_part_number': product.prod_part_number,
                'prod_part_number_old': product.prod_part_number_old,
                'prod_name': product.prod_name,
                'prod_url': product.prod_url,
                'prodbrd_name': product.prodbrd_name,
                'created_at':Date.now()
            };

            // Xoa phan tu hien tai
            delete this.productsStorage[prodId];

            // create/update product to `this.productsStorage`
            this.productsStorage[prodId] = currentProduct;
            for (const [key, value] of Object.entries(this.productsStorage)) {
                if (Object.keys(this.productsStorage).length > maxProductInStorage){
                    delete this.productsStorage[key];
                }
            }
            // save to localStorage
            window.localStorage.setItem('products', JSON.stringify(this.productsStorage));
            return true;
        },
    },
    watch:{
        product(){
            document.title = this.product.prod_name;
            this.saveViewedProducts(this.product);
        }
    },
    created() {
        this.productsStorage = window.localStorage.getItem('products') ? JSON.parse(window.localStorage.getItem('products')): {};
        this.$store.commit('updateHeaderMenuType', 'full');
        this.fetchProduct();
        this.fetchProductRelated();
    }
}
</script>

<style scoped>

</style>
