<template>
    <section id="page-title" class="background-overlay text-light">
        <div class="parallax-container img-loaded" data-velocity="-.090" style="background: rgba(0, 0, 0, 0) url('/public/uploads/images/slider/bg_image_fo_patch_cords.jpg') repeat scroll 0% 0%;"></div>
        <div class="container">
            <div class="page-title"><h2 class="text-medium text-light nsp-font-family--SVN-Poppins-bold">Sản phẩm</h2></div>
            <div class="breadcrumb">
                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                    <li class="active"><a>Sản phẩm</a></li>
                    <li class="active"><a>{{category.prodcat_name}}</a></li>
                </ul>
            </div>
        </div>
    </section>
    <transition>
        <div class="wrapper">
            <section id="page-content" class="sidebar-left">
                <div class="container">
                    <div class="row">
                        <div class="content col-lg-9">
                            <div class="row m-b-20">
                                <div class="col-lg-8 p-t-0 m-b-20">
                                    <nav class="grid-filter gf-outline" data-layout="#productList">
                                        <ul>
                                            <li :class="{active: query.tagId == 0}" @click="onChangeTag($event,0)">
                                                <a style="cursor:pointer">Tất cả</a>
                                            </li>
                                            <li v-for="(tag, index) in tags" :class="{active: query.tagId == tag.prodtag_id}" @click="onChangeTag($event, tag.prodtag_id)">
                                                <a style="cursor:pointer">{{tag.prodtag_name}}</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-4">
                                    <div class="order-select">
                                        <h6>Chọn Thương hiệu</h6>
                                        <select class="form-control nsp-selectbox" @change="onChangeBrand($event)">
                                            <option value="0">Tất cả Thương hiệu</option>
                                            <option v-for="(brand, index) in brands" :value="brand.prodbrd_id">{{brand.prodbrd_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="shop">
                                <div id="productList" class="grid-3-columns">
                                    <template v-if="products.length">
                                        <div v-for="(product, index) in products" class='grid-item nsp-box__product-item'>
                                            <div class='product'>
                                                <div class='product-image'>
                                                    <a :href="product.prod_url"><img class='lazy' :alt='product.prod_name' :src='product.prod_thumbnail'></a>
                                                    <span v-if="product.prod_type === 'new'" style="text-transform: uppercase;" class="product-new nsp-product-special-type">new</span>
                                                    <span v-else-if="product.prod_type === 'hot'" style="text-transform: uppercase;" class="product-hot nsp-product-special-type">hot</span>
                                                    <span v-else-if="product.prod_type === 'sale'" style="text-transform: uppercase;" class="product-sale nsp-product-special-type">sale</span>
                                                </div>
                                                <div class='product-description'>
                                                    <div class='product-category nsp-brand-name' style='cursor: auto'>{{brandNames[product.prod_brand_id]}}</div>
                                                    <div class='product-title'>
                                                        <h3>
                                                            <a :title='product.prod_name' :href="product.prod_url" class='nsp-product-name nsp-color--hover'>
                                                                <div :title='product.prod_name'>{{product.prod_short_name}}</div>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                    <div class='product-rate nsp-product-part-number'>
                                                        <ins>{{product.prod_part_number}}</ins> <del>{{product.prod_part_number_old}}</del>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div v-if="productMeta.current_page < productMeta.last_page" id="showMore">
                                            <div v-if="isLoadMore === true" class="nsp-color">
                                                Loading ...
                                            </div>
                                            <div v-else>
                                                <a @click="loadMoreProducts()" style="cursor:pointer" class="btn btn-rounded nsp-btn__loadmore btn-light">
                                                    <i class="icon-refresh-cw"></i> Tải thêm
                                                </a>
                                            </div>
                                        </div>
                                    </template>
                                    <template v-else-if="isMounted === false">
                                        <base-loading></base-loading>
                                    </template>
                                    <template v-else>
                                        <h4 class="nsp-color text-center" style="min-height: 50px">Không có sản phẩm nào theo yêu cầu!</h4>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar col-lg-3">
                            <div class="widget clearfix widget-archive">
                                <template v-for="(cat, index) in categoriesLevel1">
                                    <h4 class="widget-title nsp-color--hover"
                                        @click="$router.push({ name: 'product.by-cat', params: { slug: cat.prodcat_slug, id: cat.prodcat_id }})"
                                        style="cursor: pointer">{{ cat.prodcat_short_name ? cat.prodcat_short_name : cat.prodcat_name}}</h4>
                                    <div v-if="cat.prodcat_id === firstAncestorId" class="accordion accordion-simple nsp-product-nav">
                                        <!--submenu level 2-->
                                        <template v-for="(subcat2, index) in categoriesByBranch">
                                            <div v-if="subcat2.prodcat_level == 2" class="ac-item">
                                                <h5 :class="{'ac-title': categoriesLevel3[subcat2.prodcat_id]}" @click="subCat2ActiveId = subcat2.prodcat_id">
                                                    {{ subcat2.prodcat_short_name ? subcat2.prodcat_short_name : subcat2.prodcat_name}}
                                                </h5>
                                                <!--submenu level 3-->
                                                <template v-if="subCat2ActiveId == subcat2.prodcat_id">
                                                    <div v-for="(subcat3, index) in categoriesLevel3[subcat2.prodcat_id]" class="ac-content" style="font-size: 13px;">
                                                        <p class="nsp-color--hover" style="cursor: pointer" @click="$router.push({ name: 'product.by-cat', params: { slug: subcat3.prodcat_slug, id: subcat3.prodcat_id }})">{{ subcat3.prodcat_short_name ? subcat3.prodcat_short_name : subcat3.prodcat_name}}</p>
                                                    </div>
                                                </template>
                                            </div>
                                        </template>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </transition>
</template>

<script>
export default {
    name: "ProductByCate",
    data(){
        return {
            isMounted: false,
            productBrandRepository: this.$_getRepositoryFactory('product-brands'),
            productCategoryRepository: this.$_getRepositoryFactory('product-categories'),
            productRepository: this.$_getRepositoryFactory('products'),
            productTagRepository: this.$_getRepositoryFactory('product-tags'),
            brands: [], // thương hiệu
            tags: [], // tags
            category: [], // category hiện tại
            products: [], // products theo nhánh (cấp 1)
            categoriesLevel1: [], // categories cấp 1
            categoriesLevel3: [], // categories cấp 3
            categoriesByBranch: [], // nhánh categories (cấp 1)
            catId: this.$route.params.id, // category_id hiện tại
            firstAncestorId: null, // category_id tổ tiên cao nhất (level 1)
            subCat2ActiveId: null,
            brandNames: [], // Mảng tên thương hiệu,
            productMeta: [], // thông số phân trang
            isLoadMore: false, // Trạng thái hiển thị thêm sản phẩm hay không (phân trang)
            query:{ //  tham so searching product
                'brandId': 0,
                'tagId': 0,
            }
        }
    },
    methods: {
        onChangeBrand(event){
            this.query.brandId = event.target.value;
        },
        onChangeTag(event, tagId){
            this.query.tagId = tagId;
        },
        async loadMoreProducts(){
            this.isLoadMore = true;
            try {
                var queryString = '?page=' + (this.productMeta.current_page + 1);
                const {data} = await this.productRepository.findsByBranch(this.catId + queryString);
                if (data.success === true) {
                    var products = data.data['products'];
                    this.products = this.products.concat(products);
                    this.productMeta = data.data['meta'];
                    this.isLoadMore = false;
                }
            } catch (error) {
                console.log(error);
            }
        },
        // Lấy categories cấp 3 từ nhánh categories
        getCategoriesLevel3(categories){
            var obj = {};
            categories.forEach(function (cat, index) {
                if (cat.prodcat_level == 3) {
                    if (obj.hasOwnProperty(cat.prodcat_parent)) {
                        obj[cat.prodcat_parent].push(cat);
                    }else{
                        obj[cat.prodcat_parent] = new Array(cat);
                    }
                }
            });
            this.categoriesLevel3 = obj;
            return obj;
        },
        getBrandNames(brands){
            var obj = {};
            brands.forEach(function (brand, index) {
                obj[brand.prodbrd_id] = brand.prodbrd_name;
            });
            this.brandNames = obj;
            return obj;
        },
        /*
        |--------------------------------------------------------------------------
        | Call Api
        |--------------------------------------------------------------------------
        */
        async fetch(){
            try {
                const {data} = await this.productCategoryRepository.find(this.catId);
                if (data.success === true) {
                    this.category = data.data;
                }
            } catch (error) {
                console.log(error);
            }
        },
        async fetchBrands(){
            try {
                const {data} = await this.productBrandRepository.getAll();
                if (data.success === true) {
                    this.brands = data.data['product-brands'];
                    this.getBrandNames(this.brands);
                }
            } catch (error) {
                console.log(error);
            }
        },
        async fetchCategoriesLevel1(){
            try {
                const {data} = await this.productCategoryRepository.findCategoriesByLevel(1);
                if (data.success === true) {
                    this.categoriesLevel1 = data.data['product-categories'];
                }
            } catch (error) {
                console.log(error);
            }
        },
        async fetchCategoriesByBranch(){

            try {
                const firstAncestor = await this.productCategoryRepository.findFirstAncestor(this.catId);
                if (firstAncestor.data.success === true) {
                    this.firstAncestorId = firstAncestor.data.data.prodcat_id;
                    const {data}    = await this.productCategoryRepository.findCategoriesByBranch(this.firstAncestorId);
                    if (data.success === true) {
                        this.categoriesByBranch = data.data['product-categories'];
                        // Lấy categories cấp 3
                        if (this.categoriesByBranch.length > 0) {
                            this.getCategoriesLevel3(this.categoriesByBranch);
                        }
                    }
                }

            } catch (error) {
                console.log(error);
            }
        },
        async fetchProducts(){
            try {
                const params = new URLSearchParams(this.query);
                var queryString = '?' + params.toString();
                const {data} = await this.productRepository.findsByBranch(this.catId + queryString);
                if (data.success === true) {
                    this.products = data.data['products'];
                    this.productMeta = data.data['meta'];
                }
            } catch (error) {
                console.log(error);
            }
            this.isMounted = true;
        },
        async fetchTagsByBranch(branchId){
            try {
                const {data} = await this.productTagRepository.findsByBranch(branchId);
                if (data.success === true) {
                    this.tags = data.data['product-tags'];
                }
            } catch (error) {
                console.log(error);
            }
        },
        /*
        |--------------------------------------------------------------------------
        | End - Call Api
        |--------------------------------------------------------------------------
        */
    },
    watch:{
        query: {
            // This will let Vue know to look inside the array
            deep: true,
            // We have to move our method to a handler field
            handler() {
                this.fetchProducts();
            },

        },
        firstAncestorId(newData, oldData){
            this.fetchTagsByBranch(newData);
        },
        category(){
            document.title = this.category.prodcat_name;
        }
    },
    created() {
        this.fetch();
        this.fetchBrands();
        this.fetchCategoriesLevel1();
        this.fetchCategoriesByBranch();
        this.fetchProducts();
    },
    mounted() {
/*        let tag = document.createElement("script");
        tag.setAttribute("src", "/public/template/polo/js/functions.js");
        document.head.appendChild(tag);*/
    }
}
</script>

<style scoped>
.wrapper {
    width: 100%;
    min-height: 100vh;
    /*background-color: #f0f2ed;*/
}
</style>
