<template>
    <section id="page-title" class="background-overlay text-light" data-parallax-image="/public/uploads/images/slider/bg_image_fo_patch_cords.jpg">
        <div class="container">
            <div class="page-title">
                <h2 class="text-medium text-light nsp-font-family--SVN-Poppins-bold">Tìm kiếm theo thẻ "{{tagname}}"</h2>
            </div>
        </div>
    </section>
    <template v-if="products.length">
        <div class="wrapper">
            <section id="page-content" class="sidebar-left">
                <div class="container">
                    <div class="row">
                        <div class="content col-lg-9">
                            <div class="shop">
                                <div id="productList" class="grid-3-columns">
                                    <div v-for="(product, index) in products" class='grid-item nsp-box__product-item'>
                                        <div class='product'>
                                            <div class='product-image'>
                                                <a :href="product.prod_url"><img class='lazy' :alt='product.prod_name' :src='product.prod_thumbnail'></a>
                                                <span v-if="product.prod_type === 'new'" style="text-transform: uppercase;" class="product-new nsp-product-special-type">new</span>
                                                <span v-else-if="product.prod_type === 'hot'" style="text-transform: uppercase;" class="product-hot nsp-product-special-type">hot</span>
                                                <span v-else-if="product.prod_type === 'sale'" style="text-transform: uppercase;" class="product-sale nsp-product-special-type">sale</span>
                                            </div>
                                            <div class='product-description'>
                                                <div class='product-category nsp-brand-name' style='cursor: auto'>{{brandNames[product.prod_brand_id]}}</div>
                                                <div class='product-title'>
                                                    <h3>
                                                        <a :title='product.prod_name' :href="product.prod_url" class='nsp-product-name nsp-color--hover'>
                                                            <div :title='product.prod_name'>{{product.prod_short_name}}</div>
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div class='product-rate nsp-product-part-number'>
                                                    <ins>{{product.prod_part_number}}</ins> <del>{{product.prod_part_number_old}}</del>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div v-if="productMeta.current_page < productMeta.last_page" id="showMore">
                                        <div v-if="isLoadMore === true" class="nsp-color">
                                            Loading ...
                                        </div>
                                        <div v-else>
                                            <a @click="loadMoreProducts()" style="cursor:pointer" class="btn btn-rounded nsp-btn__loadmore btn-light">
                                                <i class="icon-refresh-cw"></i> Tải thêm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar col-lg-3">
                            <div class="widget clearfix widget-archive">
                                <template v-for="(cat, index) in categoriesLevel1">
                                    <h4 class="widget-title" style="cursor: pointer">
                                        <a :href="cat.prodcat_url" class="nsp-color--hover">{{ cat.prodcat_name }}</a>
                                    </h4>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </template>
    <template v-else>
        <div class="col-md-12" style="text-align: center">
            <h4 class="nsp-color"> Không tìm thấy sản phẩm.</h4>
        </div>
    </template>
</template>

<script>
export default {
    name: "ProductByTag",
    props: {
        tagid: {
            type: Number,
            default: 0
        },
        tagname: {
            type: String,
            default: ''
        },
    },
    data() {
        return {
            productRepository: this.$_getRepositoryFactory('products'),
            productBrandRepository: this.$_getRepositoryFactory('product-brands'),
            productCategoryRepository: this.$_getRepositoryFactory('product-categories'),
            categoriesLevel1: [], // categories cấp 1
            products: [],
            productMeta: [], // thông số phân trang
            isLoadMore: false, // Trạng thái hiển thị thêm sản phẩm hay không (phân trang),
            brandNames: [], // Mảng tên thương hiệu,
            brands: [], // thương hiệu
        }
    },
    methods: {
        getBrandNames(brands){
            var obj = {};
            brands.forEach(function (brand, index) {
                obj[brand.prodbrd_id] = brand.prodbrd_name;
            });
            this.brandNames = obj;
            return obj;
        },
        async loadMoreProducts(){
            this.isLoadMore = true;
            try {
                var queryString = '?page=' + (this.productMeta.current_page + 1);
                const {data} = await this.productRepository.findsByTag(this.tagid + queryString);
                if (data.success === true) {
                    var products = data.data['products'];
                    this.products = this.products.concat(products);
                    this.productMeta = data.data['meta'];
                    this.isLoadMore = false;
                }
            } catch (error) {
                console.log(error);
            }
        },
        async fetchBrands(){
            try {
                const {data} = await this.productBrandRepository.getAll();
                if (data.success === true) {
                    this.brands = data.data['product-brands'];
                    this.getBrandNames(this.brands);
                }
            } catch (error) {
                console.log(error);
            }
        },
        async fetchProductByTag() {
            try {
                const {data} = await this.productRepository.findsByTag(this.tagid);
                if (data.success === true) {
                    this.products = data.data['products'];
                    this.productMeta = data.data['meta'];
                }
            } catch (error) {
                console.log(error);
            }
        },
        async fetchCategoriesLevel1(){
            try {
                const {data} = await this.productCategoryRepository.findCategoriesByLevel(1);
                if (data.success === true) {
                    this.categoriesLevel1 = data.data['product-categories'];
                }
            } catch (error) {
                console.log(error);
            }
        },
    },
    created() {
        this.fetchBrands();
        this.fetchProductByTag();
        this.fetchCategoriesLevel1();
        this.$store.commit('updateHeaderMenuType', 'full');
    }
}
</script>

<style scoped>

</style>
