<template>
    <section id="page-title">
        <div class="container">
            <div class="page-title">
                <h1>Sản phẩm {{ brand.name }}</h1>
            </div>
        </div>
    </section>
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right">
                    <div class="post-searching-form">
                        <i class="fa fa-search"></i>
                        <input @keyup.enter="searchByKeyword($event)" :value="keyword" style="padding-left: 60px;" type="text" class="form-control form-input"
                               placeholder="Tìm sản phẩm...">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 35px">
                <template v-if="products.length">
                    <div id="productList" class="col-md-3" v-for="(product, index) in products">
                        <div class="grid-item nsp-box__product-item">
                            <div class="product">
                                <div class="product-image">
                                    <a :href="product.prod_url"><img class='lazy' :alt='product.prod_name' :src='product.prod_thumbnail'></a>
                                    <span v-if="product.prod_type === 'new'" style="text-transform: uppercase;" class="product-new nsp-product-special-type">new</span>
                                    <span v-else-if="product.prod_type === 'hot'" style="text-transform: uppercase;" class="product-hot nsp-product-special-type">hot</span>
                                    <span v-else-if="product.prod_type === 'sale'" style="text-transform: uppercase;" class="product-sale nsp-product-special-type">sale</span>
                                </div>
                                <div class="product-description">
                                    <div class='product-category nsp-brand-name' style='cursor: auto'>{{brandNames[product.prod_brand_id]}}</div>
                                    <div class='product-title'>
                                        <h3>
                                            <a :title='product.prod_name' :href="product.prod_url" class='nsp-product-name nsp-color--hover'>
                                                <div :title='product.prod_name'>{{product.prod_short_name}}</div>
                                            </a>
                                        </h3>
                                    </div>
                                    <div class='product-rate nsp-product-part-number'>
                                        <ins>{{product.prod_part_number}}</ins> <del>{{product.prod_part_number_old}}</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </template>
                <template v-else-if="isMounted === false">
                    <base-loading></base-loading>
                </template>
                <template v-else>
                    <h4 class="nsp-color text-center" style="min-height: 50px">Không có sản phẩm nào theo yêu cầu!</h4>
                </template>
            </div>
            <div v-if="productMeta.current_page < productMeta.last_page" id="showMore">
                <div v-if="isLoadMore === true" class="nsp-color">
                    Loading ...
                </div>
                <div v-else>
                    <a @click="loadMoreProducts()" style="cursor:pointer" class="btn btn-rounded nsp-btn__loadmore btn-light">
                        <i class="icon-refresh-cw"></i> Tải thêm
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "BrandList",
    data() {
        return {
            isMounted: false,
            productRepository: this.$_getRepositoryFactory('products'),
            productBrandRepository: this.$_getRepositoryFactory('product-brands'),
            products: [],
            keyword: '',
            brandNames: [],
            productMeta: [], // thông số phân trang
            isLoadMore: false, // Trạng thái hiển thị thêm sản phẩm hay không (phân trang)
        }
    },
    props: {
        brand: Object
    },
    created() {
        this.fetchBrands();
        this.fetchProductsByBrand();
        this.$store.commit('updateHeaderMenuType', 'full');
    },
    methods: {
        searchByKeyword(event){
            this.keyword = event.target.value;
            this.fetchProductsByBrand();
        },
        getBrandNames(brands){
            var obj = {};
            brands.forEach(function (brand, index) {
                obj[brand.prodbrd_id] = brand.prodbrd_name;
            });
            this.brandNames = obj;
            return obj;
        },
        async fetchProductsByBrand() {
            if (this.brand.prodbrd_id > 0) {
                try {
                    const {data} = await this.productRepository.findsByBrand(this.brand.prodbrd_id + '?keyword=' + this.keyword);
                    if (data.success === true) {
                        this.products = data.data['products'];
                        this.productMeta = data.data['meta'];
                    }

                } catch (error) {
                    console.log(error);
                }
            }
            this.isMounted = true;
        },
        async fetchBrands(){
            try {
                const {data} = await this.productBrandRepository.getAll();
                if (data.success === true) {
                    this.brands = data.data['product-brands'];
                    this.getBrandNames(this.brands);
                }
            } catch (error) {
                console.log(error);
            }
        },
        async loadMoreProducts(){
            this.isLoadMore = true;
            try {
                var queryString = '?page=' + (this.productMeta.current_page + 1);
                const {data} = await this.productRepository.findsByBrand(this.brand.prodbrd_id + queryString);
                if (data.success === true) {
                    var products = data.data['products'];
                    this.products = this.products.concat(products);
                    this.productMeta = data.data['meta'];
                    this.isLoadMore = false;
                }
            } catch (error) {
                console.log(error);
            }
        },
    }
}
</script>

<style scoped>

</style>
