<template>
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="page-title">
                        <h1>{{title}}</h1>
                    </div>
                </div>
                <div class="col-md-7 text-right">
                    <div class="post-searching-form">
                        <i class="fa fa-search"></i>
                        <input @keyup.enter="searchByKeyword($event)" :value="keyword" style="padding-left: 60px;" type="text" class="form-control form-input" placeholder="Tìm kiếm...">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 25px">
                <template v-if="posts.length">
                    <div v-for="(post, index) in posts" class="col-md-4" style="margin-bottom: 25px">
                        <div class="card post-card" style="border: 1px solid #f7f7f7">
                            <div class="post-thumbnail">
                                <a :href="post.pst_uri">
                                    <img class="card-img-top img-fluid" :src="post.pst_thumbnail" :alt="post.pst_name" style="max-height: 232px !important;">
                                </a>
                            </div>
                            <div class="card-body" style="min-height: 240px">
                                <span class="post-meta-date">{{ post.pst_created_at }}</span>
                                <h4 class="card-title post-title"><a :href="post.pst_uri"
                                                                     class="nsp-color--hover">{{ post.pst_name }}</a>
                                </h4>
                                <p class="card-text" :title="post.pst_short_des_full">{{ post.pst_short_des }}</p>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="col-md-12" style="text-align: center">
                        <h4 class="nsp-color"> Không tìm thấy bài viết.</h4>
                    </div>
                </template>
            </div>
            <div class="clearfix"></div>
            <div v-if="postMeta.current_page < postMeta.last_page" id="showMore">
                <div v-if="isLoadMore === true" class="nsp-color">
                    Loading ...
                </div>
                <div v-else>
                    <a @click="loadMorePosts()" style="cursor:pointer"
                       class="btn btn-rounded nsp-btn__loadmore btn-light">
                        <i class="icon-refresh-cw"></i> Tải thêm
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>

export default {
    name: "News",
    props: {
        id: {
            type: Number,
            default: 0
        },
        title:{
            type: String,
            default: '',
        }
    },
    data() {
        return {
            postRepository: this.$_getRepositoryFactory('posts'),
            postId: this.$route.params.id,
            posts: [],
            postMeta: [], // thông số phân trang
            isLoadMore: false, // Trạng thái hiển thị thêm sản phẩm hay không (phân trang)
            keyword: '',
        }
    },
    methods: {
        async fetchPostByCategory() {
            try {
                const {data} = await this.postRepository.findsByCategory(this.id + '?keyword=' + this.keyword);
                if (data.success === true) {
                    this.posts = data.data['posts'];
                    this.postMeta = data.data['meta'];
                }
            } catch (error) {
                console.log(error);
            }
        },
        async loadMorePosts() {
            this.isLoadMore = true;
            try {
                const {data} = await this.postRepository.findsByCategory(this.id + this.queryString);
                if (data.success === true) {
                    var posts = data.data['posts'];
                    this.posts = this.posts.concat(posts);
                    this.postMeta = data.data['meta'];
                    this.isLoadMore = false;
                }
            } catch (error) {
                console.log(error);
            }
        },
        searchByKeyword(event){
            this.keyword = event.target.value;
            this.fetchPostByCategory();
        }
    },
    created() {
        this.$store.commit('updateHeaderMenuType', 'full');
        this.fetchPostByCategory();
    },
    mounted() {
    },
    computed:{
        queryString(){
            return '?page=' + (this.postMeta.current_page + 1) + '&keyword=' + this.keyword;
        }
    }

}
</script>

<style scoped>

</style>
