<template>
    <ul class="dropdown-menu" style="">
        <li v-for="(menu, index) in menus" :key="menu.id" :class="{'dropdown': true, 'dropdown-submenu': menu.childrens}">
            <a :href="menu.link">
                <i :class="menu.icon"></i>
                {{menu.name}}
            </a>
            <template v-if="menu.childrens">
                <ul class="dropdown-menu" style="">
                    <li v-for="(submenu, index) in menu.childrens" :key="submenu.id" class="dropdown">
                        <a :href="submenu.link">
                            <i :class="submenu.icon"></i>
                            {{submenu.name}}
                        </a>
                    </li>
                </ul>
            </template>
        </li>
    </ul>
</template>

<script>
export default {
    name: "MenuSub",
    props: {
        menus: Array,
    },
    methods:{

    }
}
</script>

<style scoped>

</style>
