<template>
    <ul class="dropdown-menu">
        <li v-for="(solution) in solutions" :key="solution.id">
            <a :href="solution.url">{{solution.title}}</a>
        </li>
    </ul>
</template>

<script>
export default {
    name: "MenuSolution",
    data(){
        return {
            solutions: [],
            solutionRepository: this.$_getRepositoryFactory('solutions'),
        }
    },
    methods:{
        async fetch(){
            try {
                const {data} = await this.solutionRepository.getAll();
                if (data.success === true) {
                    this.solutions = data.data;
                }
            } catch (error) {
                console.log(error);
            }
        }
    },
    created() {
        this.fetch();
    },
}
</script>

<style scoped>

</style>
