<template>
    <ul class="dropdown-menu" style="">
        <li class="mega-menu-content">
            <div class="row">
                <div v-for="(cat, index) in categories" class="col-lg-2" style="margin-bottom: 15px" :key="cat.prodcat_id">
                    <ul>
                        <li class="mega-menu-title nsp-mega-menu-title"
                            style="margin-top: 0px">
                            <a class="nsp-font-family--SVN-Poppins-semibold" :href="cat.prodcat_url">{{cat.prodcat_name}}</a>
                        </li>
                        <template v-if="cat.childrens">
                            <li v-for="(subcat, index) in cat.childrens" :key="subcat.prcat_id">
                                <a :href="subcat.url">
                                    {{subcat.name}}
                                    <span v-if="subcat.type === 'popular'" class="badge badge-success">PHỔ BIẾN</span>
                                    <span v-else-if="subcat.type === 'popular'" class="badge badge-danger">MỚI</span>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
export default {
    name: "MenuProduct",
    data(){
        return {
            categories: [],
            productCategoryRepository: this.$_getRepositoryFactory('product-categories'),
        }
    },
    methods:{
        async fetch(){
            try {
                const {data} = await this.productCategoryRepository.getHeaderMenus();
                if (data.success === true) {
                    this.categories = data.data['product-categories'];
                }
            } catch (error) {
                console.log(error);
            }
        }
    },
    created() {
        this.fetch();
    },
}
</script>

<style scoped>

</style>
