<template>
    <!-- Footer -->
    <footer id="footer" class="inverted">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="widget">
                            <div class="widget-title">Công ty TNHH Nhân Sinh Phúc (NSP)</div>
                            <p class="mb-5"><i class="far fa-clock"></i> Giờ làm việc<br>Thứ Hai - Thứ Sáu: <strong>08:00 - 17:30</strong> <br>
                                Thứ Bảy: <strong>08:00 - 12:00</strong>. Chủ Nhật: <strong>Nghỉ</strong></p>
                            <a href="" class="btn btn-inverted">Liên hệ Ngay</a>
                        </div>
                    </div> <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="widget">
                                <div class="widget-title">Khám phá</div>
                                <ul class="list">
                                    <li><a href="/danh-muc-san-pham.html">Sản phẩm</a></li>
                                    <li><a href="/giai-phap.html">Giải pháp</a></li>
                                    <li><a href="/thuong-hieu.html">Thương hiệu</a></li>
                                </ul>
                            </div>
                        </div>
<!--
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Nổi bật</div>
                                <ul class="list">
                                    <li><a href="#">Hệ thống Cáp</a></li>
                                    <li><a href="#">Rack/Cabinet 19"</a></li>
                                    <li><a href="#">Hệ thống UPS</a></li>
                                </ul>
                            </div>
                        </div>-->
                        <div class="col-lg-4">
                            <div class="widget">
                                <div class="widget-title">Thông tin</div>
                                <ul class="list">
                                    <li><a href="/bai-viet/tin-tuc.html">Tin tức</a></li>
                                    <li><a href="#">Lịch Đào tạo</a></li>
                                    <li><a href="#">Tuyển dụng</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="widget">
                                <div class="widget-title">Hỗ trợ</div>
                                <ul class="list">
                                    <li><a href="/tai-lieu-san-pham.html">Tài liệu Sản phẩm</a></li>
                                    <li><a href="#">Tải xuống</a></li>
                                    <li><a href="/lien-he.html">Liên hệ Chúng tôi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="copyright-content">
            <div class="container">
                <div class="copyright-text text-center">&copy; 2019 NSP | <a  target="_blank"> Quyền Riêng tư</a> | <a  target="_blank"> Điều khoản Sử dụng</a> </div>
            </div>
        </div>
    </footer>
    <!-- end: Footer -->
</template>

<script>
export default {
    name: "MenuFooter"
}
</script>

<style scoped>

</style>
