<template>
    <header  id="header" :data-transparent="headerMenuType == 'default' ? true : false" :data-fullwidth="headerMenuType === 'full' ? true : false" :class="{'dark': headerMenuType == 'default'}">
        <div class="header-inner">
            <div class="container">
                <!--Logo-->
                <div id="logo">
                    <a href="/" class="logo" data-src-dark="/public/uploads/images/favicon/logo-dark.png">
                        <img src="/public/uploads/images/favicon/logo.png" alt="NSP Logo">
                    </a>
                </div>
                <!--End: Logo-->

                <!--Header Extras-->
                <div class="header-extras">
                    <ul>
                        <!--<li><a id="btn-search" href="#"> <i class="icon-search1"></i></a></li>-->
                        <li>
                            <div id="shopping-cart" class="p-dropdown js-open-request-quote-popup">
                                <a class="padding: 2px 1px; color: #efefef;" style="cursor: pointer"><span class="shopping-cart-items">{{quantityItemsInCart}}</span><i
                                    class="icon-check-circle11"></i></a>
                            </div>
                        </li>
                        <li>
                            <div class="p-dropdown">
                                <a href="#"><i class="icon-globe2"></i></a>
                                <ul class="p-dropdown-content">
                                    <li><a href="#">Tiếng Việt</a></li>
                                    <li><a href="#">English (Coming soon)</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--end: Header Extras-->

                <!--Navigation Resposnive Trigger-->
                <div id="mainMenu-trigger">
                    <button class="lines-button x"><span class="lines"></span></button>
                </div>
                <!--end: Navigation Resposnive Trigger-->

                <!--Navigation-->
                <div id="mainMenu" class="menu-uppercase">
                    <div class="container">
                        <nav>
                            <ul class="nsp-header-menu">
                                <li>
                                    <a href="/"><i class="fa fa-home"></i></a>
                                </li>
                                <li v-for="(menu, index) in this.menus" :key="menu.menu_id" :class="{ 'dropdown': true, 'is-mobile': isMobile, 'mega-menu-item': (menu.menu_code === 'product' || menu.menu_code === 'brand')}">
                                    <span v-if="isMobile" class="before"  @click.stop="openSubMenuOnMobile($event)" ></span>
                                    <a v-bind:href="menu.menu_link">{{menu.menu_name}}</a>
                                    <template v-if="menu.childrens">
                                        <menu-sub :menus="menu.childrens"></menu-sub>
                                    </template>
                                    <template v-else-if="menu.menu_code === 'product'">
                                        <menu-product></menu-product>
                                    </template>
                                    <template v-else-if="menu.menu_code === 'brand'">
                                        <menu-brand></menu-brand>
                                    </template>
                                    <template v-else-if="menu.menu_code === 'solution'">
                                        <menu-solution></menu-solution>
                                    </template>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--end: Navigation-->
            </div>
        </div>
    </header>
</template>

<script>
import { mapState } from 'vuex'
import MenuSub from './MenuSub';
import MenuProduct from './MenuProduct';
import MenuBrand from './MenuBrand';
import MenuSolution from './MenuSolution.vue';

export default {
    props:{
        isMobile: Boolean
    },
    components: {
        MenuSub,
        MenuProduct,
        MenuBrand,
        MenuSolution,
    },
    name: "MenuHeader",
    computed: mapState([ 'quantityItemsInCart', 'headerMenuType' ]),
    data(){
        return {
            menus: [],
            menuRepository: this.$_getRepositoryFactory('menus'),
        }
    },
    methods:{
        openMenuOnMobile(){
            $body.toggleClass("mainMenu-open");
            $(this).toggleClass("toggle-active");
            if ($body.hasClass("mainMenu-open")) {
                $header.find("#mainMenu").css("max-height", $window.height() - $header.height());
            } else {
                $header.find("#mainMenu").css("max-height", 0);
            }
            return false;
        },
        async fetch(){
            try {
                const {data} = await this.menuRepository.getHeaderMenus();
                if (data.success === true) {
                    this.menus = data.data.menus;
                }
            } catch (error) {
                console.log(error);
            }
        },
        openSubMenuOnMobile(event) {
            if (this.isMobile) {
                const li = event.target.parentNode;
                if (li.classList.contains('hover-active')) {
                    li.classList.remove('hover-active');
                } else {
                    li.classList.add('hover-active');
                }
            }
        },
    },
    created() {
        this.fetch();
    },
    mounted() {

/*        var functionJsFile = window.location.origin + "/public/template/polo/js/functions.js?v=1";
        var scripts = [
            functionJsFile
        ];
        scripts.forEach(script => {
            let tag = document.createElement("script");
            tag.setAttribute("src", script);
            document.head.appendChild(tag);
        });*/
    }
}
</script>

<style scoped>
.before {
    position: absolute;
    right: 0;
    width: 16px;
    height: 100%;
    z-index: 1000;
}
</style>
