<template>
    <ul class="dropdown-menu" style="">
        <li class="mega-menu-content">
            <div class="row">
                <div v-for="(brand, index) in brands" class="col-lg-2-5">
                    {{brand.prodbrd_name}}
                    <div>
                        <a :href="brand.prodbrd_uri">
                            <img style="max-width: 111px" alt="CommScope" :src="brand.prodbrd_picture_small">
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
export default {
    name: "MenuBrand",
    data(){
       return {
           brands: [],
           productBrandRepository: this.$_getRepositoryFactory('product-brands'),

       }
    },
    methods:{
        async fetch(){
            try {
                const {data} = await this.productBrandRepository.getAll();
                if (data.success === true) {
                    this.brands = data.data['product-brands'];
                }
            } catch (error) {
                console.log(error);
            }
        }
    },
    created() {
        this.fetch();
    },
}
</script>

<style scoped>

</style>
